:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  background: var(--secondary-color);
  padding: 20px 24px;
  font-weight: 700;
  color: #e1e1e1;
  width: max-content;
  font-family: 'IBM Plex Mono', monospace;
  transition: all 250ms ease;
}

.button:hover {
  color: var(--primary-color);
}

.button:hover .down {
  transform: translateY(0.2em);
}

.button svg {
  margin-left: 1em;
  transition: all 250ms ease;
}

h1 {
  font-size: 52px;
}

section {
  scroll-behavior: smooth;
}

section:nth-child(odd) {
  height: 100vh;
  background: #f3f1ed;
}

section:nth-child(even) {
  height: 100vh;
  background: #fff;
}

main section {
  padding: 10vw 10vw;
}

main section p {
  width: 40vw;
  font-size: 18px;
  line-height: 2;
}

.lazyload {
  opacity: 0;
}

.visible {
  animation: up 1s ease forwards;
}

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(1em);
  }

  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}

.open {
  opacity: 1 !important;
}